# Virtual environments
env/
envs/
venv/
venv*/
.venv/
ENV/

# Byte-compiled / optimized / DLL files
__pycache__/
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
data
faiss_index
dist/
eggs/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/
.vercel

# Translations
*.mo
*.pot

# PyInstaller
*.manifest
*.spec

# mypy
.mypy_cache/

# Pyenv
.python-version

# Environment variables
.env
.env.*


# IDEs and editors
.vscode/
.idea/
*.suo
*..user
*.userosscache
*.sln

# Logs
*.log

# macOS
.DS_Store

# Windows
Thumbs.db
Desktop.ini

# Jupyter
.ipynb_checkpoints/
*.ipynb

# Rust/Cargo (if present)
target/

# node
node_modules/

# Local dev database
*.sqlite3

# Secrets (uncomment if you use these files)
# config/.secret
