# LangChain core
langchain==0.3.25
langchain-community==0.3.23
langchain-openai==0.3.16
langchain-groq==1.1.2
langchain-cohere==0.4.3
langchain-core==1.4.0
langgraph==0.4.5

# Vector store
faiss-cpu==1.11.0

# API
fastapi==0.115.12
uvicorn==0.34.2
python-multipart==0.0.29

# Document processing
pypdf==5.4.0
PYMuPDF==1.27.2.3

# Data validation
pydantic==2.11.4
pydantic-settings==2.9.1